/* pokemon types */

.header {
    color: white;
    background-color: rgba(255, 2, 2, 0.908);
    height: 200px;
    -webkit-text-stroke: 2px rgb(6, 6, 125);
    font-family: 'Press Start 2P';
    color: yellow;
    font-size: 40px;
}

h1 {
    padding-top: 40px;
}

.pokedex-search {
    height: 40px;
    border: solid;
    font-size: 32px;
}

.pokedex-search-menu {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

input {
    border: none !important
}

input:focus {
    outline: none;
}

input {
    text-indent: 18px;
}

button {
    border: none;
    margin-left: 20px;
}

.search-symbol {
    background-color: rgba(255, 2, 2, 0.908);
    font-size: 40px !important;

}

.pokemon-img:hover {
    transition: transform .2s;
    transform: scale(1.2);
}

body {
    font-family: 'DotGothic16', sans-serif;
    font-size: 16px;
}

.all-pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

:root {
    --water: #6390F0;
    --normal: #A8A77A;
    --fire: #EE8130;
    --flying: #A98FF3;
    --psychic: #F95587;
    --grass: #7AC74C;
    --rock: #B6A136;
    --electric: #F7D02C;
    --ghost: #735797;
    --ice: #96D9D6;
    --dark: #705746;
    --fighting: #C22E28;
    --dragon: #6F35FC;
    --poison: #A33EA1;
    --steel: #B7B7CE;
    --ground: #E2BF65;
    --fairy: #D685AD;
    --bug: #A6B91A;
}


.pokemon-card-description {
    display: flex;
    align-items: center;
}

.pokemon-card {

    margin-left: 15px;
    height: 240px;
    box-shadow: -4px 0px 0px 0px rgb(0, 0, 0),
        /* linker */
        4px 0px 0px 0px rgb(0, 0, 0),
        /* rechter */
        0px -4px 0px 0px rgb(0, 0, 0),
        /* oben */
        0px 4px 0px 0px rgb(0, 0, 0);
    /* unten */
    color: white;
    margin-top: 20px;
}

img {
    height: 200px;
    width: 200px;
}

.pixel-shadow {
    box-shadow: -2px 0px 0px 0px rgb(74, 68, 68),
        /* linker */
        2px 0px 0px 0px rgb(74, 68, 68),
        /* rechter */
        0px -2px 0px 0px rgb(74, 68, 68),
        /* oben */
        0px 2px 0px 0px rgb(74, 68, 68);

}



.pokemon-type-style {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    border-bottom: solid rgb(92, 90, 90) 0.2px;
}

.pdg {
    padding: 15px;
}

.pdg-l {
    padding-left: 15px;
}


.mgn-l {
    margin-left: 20px;
}

.mgn-t {
    margin-top: 16px;
}

.mgn-b {
    margin-bottom: 16px;
}

h2 {
    padding: 6px;
}